/*Configuração de modal*/
.info {
	color: #3a87ad;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.danger {
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
}

/*.modal-content .well {
	margin-bottom: -15px;
}*/

.warning {
	color: #c09853;
	background-color: #fcf8e3;
	border-color: #fbeed5;
}

.success {
	color: #468847;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.primary {
	color: #ffffff;
	background-color: #428bca;
	border-color: #357ebd;
}

/*Fim da configuração de modal*/

/*html,body {
	height: 100%;
	padding-top: 25px;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}

#footer {
	height: 60px;
	background-color: #f5f5f5;
}

#wrap>.container {
	padding: 60px 15px 0;
}

.container .credit {
	margin: 20px 0;
}

#footer>.container {
	padding-left: 15px;
	padding-right: 15px;
}*/


/*fim do datatable com bootstrap*/

/*Controle de sombra*/
.less-shadow {
	box-shadow: 0px 1px 1px #fff inset, 0px 0px 5px #D8D8D8;
}
